@charset "utf-8";

.container {
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btns {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px;
}



/* 버튼 비활성화 일때 */
ul {
}

ul li {
  color: gray;
  list-style: none;
  padding: 20px;
}


/* 버튼 활성 */
ul li.on:hover {
  color: black;
  cursor: pointer;
}
section {
  width: 300px;
  height: 200px;
  font-size: 50px;
  margin: 40px;
  position: relative;
}


/* 박스 비활성 */
section article {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid gray; */
  color: white;
  font-size: 50px;
  opacity: 0;
  position: absolute;
}



/* 박스 활성 */
section article.on {
  opacity: 1;
}
/* 박스 순서별로 배경색 지정 */
section article:nth-child(1) {
  background: gold;
}
section article:nth-child(2) {
  background: tomato;  
}
section article:nth-child(3) {
  background: green;  
}


